<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureNote</title>
    <link rel="stylesheet" href="styles.css">
</head>
{% block body %}
    <h1>Welcome to SecureNote</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for catogory, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/add" method="post">
        <input type="text" name="title" placeholder="Note Title"><br>
        <!-- BUG 3L The context text area has no 'require' attribute -->
         <textarea name="content" placeholder="Note Content"></textarea><br>
         <button type="submit">Add Notes</button>
    </form>

    <hr>
    <h2>Your Notes</h2>
    <ul>
        {% for note in notes %}
            <li>
                <strong>{{ note.1 }}</strong>: {{ note.2 }}
                <a href="{{ url_for('delete_note', note_id=note.0) }}">[DELETE]</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
</html>